[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
slowapi = "*"
jinja2 = "*"
python-magic = "*"
aiofiles = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
